
/* Flex container (contenedor) */
.container{
    background-color: lightblue;
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/* Flex items (Hijos del contenedor) */
.items{
    width: 50px;
    height: 50px;
    font-size: 2em;
}

.items:first-child{
    background-color: blue;
}
.items:nth-child(2){
    background-color: red;
}
.items:nth-child(3){
    background-color: yellow;
}
.items:nth-child(4){
    background-color: blueviolet;
}
.items:last-child{
    background-color: brown;
}